/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Header Styles */
header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 150px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styles */
button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0055a5;
}

/* Image Styles */
img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    height: 200px;
    width: 200px;

}

/* Textarea */
textarea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}